{{> head}}
<main class="main--grid">
    {{#if featuredPosts}}
        {{#each featuredPosts}}
            {{#checkIf @index '<' 3}}
                <article class="article">
                    {{#featuredImage}}
                        {{#if url}}
                            <img src="{{url}}" {{#if @config.custom.responsiveImages}} sizes="{{sizes.listing}}" srcset=" {{srcset.listing}}" {{/if}} alt=" {{alt}}">
                            <a href=" {{../url}}" class="overlay">
                        {{/if}}
                    {{/featuredImage}}
                    <h1>{{title}}</h1>
                    </a>
                </article>
            {{/checkIf}}
        {{/each}}
    {{/if}}
    {{#each posts}}
        <article class="article">
            {{#featuredImage}}
                {{#if url}}
                    <img src="{{url}}" {{#if @config.custom.responsiveImages}} sizes="{{sizes.listing}}" srcset=" {{srcset.listing}}" {{/if}} alt=" {{alt}}">
                    <a href=" {{../url}}" class="overlay">
                {{/if}}
            {{/featuredImage}}
            <h1>{{title}}</h1>
            </a>
        </article>
    {{/each}}
</main>
{{> pagination}}
{{> footer}}
