{{> head}}
<div class="page-header page-header--listing">
    {{#tag}}
        <h1 class="page-header__title">
            {{name}}
            <sup>({{postsNumber}})</sup>
        </h1>
        {{#if description}}
            <p class="page-header__desc">
                {{description}}
            </p>
        {{/if}}
    {{/tag}}
</div>{{!-- .page-header --}}
<main class="main--grid">
    {{#each posts}}
        <article class="article">
            {{#featuredImage}}
                {{#if url}}
                    <img src="{{url}}" {{#if @config.custom.responsiveImages}} sizes="{{sizes.listing}}" srcset=" {{srcset.listing}}" {{/if}} alt=" {{alt}}">
                    <a href=" {{../url}}" class="overlay">
                {{/if}}
            {{/featuredImage}}
            <h1>{{title}}</h1>
            </a>
        </article>
    {{/each}}

    {{> pagination}}
</main>

{{> footer}}
