{{!-- We need to display nav element only at first level --}}
{{#unless level}}
    <nav class="navbar">
{{/unless}}
<ul {{#if level}} class="navbar__submenu" {{else}} class="navbar__menu" {{/if}}>
    {{#each items}}
        <li {{menuItemClasses}}>
            {{#if link}}
                <a href="{{menuUrl}}" {{#if title}} title="{{title}}" id="{{title}}" {{/if}}>{{#if @config.custom.escapeMenu}}{{label}}{{else}}{{{label}}}{{/if}}</a>
                <div class="active__icon">
                    <svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
                        <path d="M12 0c-4.87 7.197-8 11.699-8 16.075 0 4.378 3.579 7.925 8 7.925s8-3.547 8-7.925c0-4.376-3.13-8.878-8-16.075z" /></svg>
                </div>
            {{else}} <span {{#if title}} title="{{title}}" {{/if}}>{{label}}</span>
            {{/if}}

            {{#if items}}
                {{> menu}}
            {{/if}}
        </li>
    {{/each}}
</ul>
{{!-- We need to display nav element only at first level --}}
{{#unless level}}
    {{#if @config.custom.socialButtons}}
        <div class="menu__social">
            {{#if @config.custom.socialFacebook}}
                <a href="{{@config.custom.socialFacebook}}" title="Facebook" aria-label="Facebook">
                    <svg class="u-icon" viewBox="0 0 32 32">
                        <path d="M30.234 0H1.766A1.766 1.766 0 0 0 0 1.766v28.468A1.766 1.766 0 0 0 1.766 32h15.326V19.608h-4.17v-4.83h4.17v-3.56c0-4.134 2.524-6.385 6.21-6.385a34.216 34.216 0 0 1 3.727.19v4.32h-2.557c-2.005 0-2.394.953-2.394 2.35v3.084h4.78l-.622 4.83h-4.16V32h8.154A1.766 1.766 0 0 0 32 30.234V1.766A1.766 1.766 0 0 0 30.234 0z" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialTwitter}}
                <a href="{{@config.custom.socialTwitter}}" title="Twitter" aria-label="Twitter">
                    <svg class="u-icon" viewBox="0 0 24.999 20.316">
                        <path d="M25 2.405a10.253 10.253 0 0 1-2.947.808A5.144 5.144 0 0 0 24.308.376 10.27 10.27 0 0 1 21.05 1.62a5.134 5.134 0 0 0-8.74 4.68A14.56 14.56 0 0 1 1.74.94a5.134 5.134 0 0 0 1.587 6.846 5.108 5.108 0 0 1-2.323-.642v.064a5.132 5.132 0 0 0 4.114 5.03 5.142 5.142 0 0 1-2.316.088 5.134 5.134 0 0 0 4.79 3.562 10.29 10.29 0 0 1-6.37 2.2A10.44 10.44 0 0 1 0 18.012a14.586 14.586 0 0 0 22.454-12.29q0-.333-.015-.662A10.423 10.423 0 0 0 25 2.405z" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialInstagram}}
                <a href="{{@config.custom.socialInstagram}}" title="Instagram" aria-label="Instagram">
                    <svg class="u-icon" viewBox="0 0 32 32">
                        <path d="M16,2.883c4.272,0,4.778.016,6.465.093a8.853,8.853,0,0,1,2.971.551,4.957,4.957,0,0,1,1.84,1.2,4.957,4.957,0,0,1,1.2,1.84,8.853,8.853,0,0,1,.551,2.971c.077,1.687.093,2.193.093,6.465s-.016,4.778-.093,6.465a8.853,8.853,0,0,1-.551,2.971,5.3,5.3,0,0,1-3.037,3.037,8.853,8.853,0,0,1-2.971.551c-1.687.077-2.193.093-6.465.093s-4.778-.016-6.465-.093a8.853,8.853,0,0,1-2.971-.551,4.957,4.957,0,0,1-1.84-1.2,4.957,4.957,0,0,1-1.2-1.84,8.853,8.853,0,0,1-.551-2.971C2.9,20.778,2.883,20.272,2.883,16s.016-4.778.093-6.465a8.853,8.853,0,0,1,.551-2.971,4.957,4.957,0,0,1,1.2-1.84,4.957,4.957,0,0,1,1.84-1.2,8.853,8.853,0,0,1,2.971-.551C11.222,2.9,11.728,2.883,16,2.883M16,0c-4.345,0-4.89.018-6.6.1A11.744,11.744,0,0,0,5.519.84,7.843,7.843,0,0,0,2.685,2.685,7.843,7.843,0,0,0,.84,5.519,11.744,11.744,0,0,0,.1,9.4C.018,11.11,0,11.655,0,16s.018,4.89.1,6.6A11.744,11.744,0,0,0,.84,26.481a7.843,7.843,0,0,0,1.845,2.834A7.843,7.843,0,0,0,5.519,31.16,11.744,11.744,0,0,0,9.4,31.9c1.707.078,2.251.1,6.6.1s4.89-.018,6.6-.1a11.744,11.744,0,0,0,3.884-.744,8.181,8.181,0,0,0,4.679-4.679A11.744,11.744,0,0,0,31.9,22.6c.078-1.707.1-2.251.1-6.6s-.018-4.89-.1-6.6a11.744,11.744,0,0,0-.744-3.884,7.843,7.843,0,0,0-1.845-2.834A7.843,7.843,0,0,0,26.481.84,11.744,11.744,0,0,0,22.6.1C20.89.018,20.345,0,16,0Zm0,7.784A8.216,8.216,0,1,0,24.216,16,8.216,8.216,0,0,0,16,7.784Zm0,13.55A5.333,5.333,0,1,1,21.333,16,5.333,5.333,0,0,1,16,21.333ZM24.541,5.539a1.92,1.92,0,1,0,1.92,1.92A1.92,1.92,0,0,0,24.541,5.539Z" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialLinkedin}}
                <a href="{{@config.custom.socialLinkedin}}" title="LinkedIn" aria-label="LinkedIn">
                    <svg class="u-icon" viewBox="0 0 34.48 32">
                        <path d="M29.632,0H2.362A2.336,2.336,0,0,0,0,2.306V29.691A2.337,2.337,0,0,0,2.362,32h27.27A2.342,2.342,0,0,0,32,29.691V2.306A2.34,2.34,0,0,0,29.632,0ZM9.491,27.268H4.744V12H9.491ZM7.119,9.909a2.752,2.752,0,1,1,2.75-2.753A2.753,2.753,0,0,1,7.119,9.909ZM27.268,27.268H22.525V19.842c0-1.772-.033-4.05-2.466-4.05-2.47,0-2.848,1.929-2.848,3.921v7.555H12.468V12h4.553v2.086h.063a4.986,4.986,0,0,1,4.491-2.467c4.806,0,5.694,3.163,5.694,7.275Z" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialVimeo}}
                <a href="{{@config.custom.socialVimeo}}" title="Vimeo" aria-label="Vimeo">
                    <svg class="u-icon" viewBox="0 0 24.999 20.159">
                        <path d="M26.105,5.927q3.628,0.1,3.641,4.123c0,0.176-.006.36-0.016,0.548q-0.16,3.416-5.09,9.306-5.089,6.17-8.634,6.183-2.205,0-3.671-3.779l-1.029-3.454L10.29,15.4q-1.124-3.749-2.406-3.746a7.819,7.819,0,0,0-1.95,1.091l-1.187-1.4,1.842-1.53L8.4,8.3a8.908,8.908,0,0,1,3.7-2.107,3.207,3.207,0,0,1,.341-0.016q2.606,0,3.249,3.746,0.356,2.137.594,3.473t0.387,1.867q0.862,3.544,1.859,3.559,0.766,0,2.36-2.31A9.305,9.305,0,0,0,22.562,13a2.969,2.969,0,0,0,.031-0.434,1.439,1.439,0,0,0-1.7-1.547,5.46,5.46,0,0,0-1.843.359q1.763-5.434,6.775-5.449h0.281Z" transform="translate(-4.747 -5.927)" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialPinterest}}
                <a href="{{@config.custom.socialPinterest}}" title="Pinterest" aria-label="Pinterest">
                    <svg class="u-icon" viewBox="0 0 32 32">>
                        <path d="M16 0a16 16 0 0 0-5.83 30.9 15.34 15.34 0 0 1 .055-4.59c.29-1.25 1.876-7.953 1.876-7.953a5.776 5.776 0 0 1-.478-2.375c0-2.225 1.29-3.886 2.9-3.886a2.01 2.01 0 0 1 2.024 2.254c0 1.373-.874 3.425-1.325 5.327a2.323 2.323 0 0 0 2.37 2.89c2.844 0 5.03-3 5.03-7.326a6.316 6.316 0 0 0-6.683-6.508 6.926 6.926 0 0 0-7.225 6.944 6.224 6.224 0 0 0 1.188 3.65.478.478 0 0 1 .11.46c-.12.504-.39 1.59-.443 1.814-.07.293-.232.355-.535.214-2-.93-3.248-3.852-3.248-6.2 0-5.047 3.667-9.682 10.572-9.682 5.55 0 9.864 3.955 9.864 9.24 0 5.515-3.477 9.953-8.3 9.953a4.282 4.282 0 0 1-3.667-1.837s-.8 3.055-1 3.8a17.885 17.885 0 0 1-1.99 4.195A16 16 0 1 0 16 0z" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialYoutube}}
                <a href="{{@config.custom.socialYoutube}}" title="Youtube" aria-label="Youtube">
                    <svg class="u-icon" viewBox="0 0 32 22.507">
                        <path d="M31.68,9.6a6.924,6.924,0,0,0-1.272-3.176A4.577,4.577,0,0,0,27.2,5.07c-4.478-.324-11.2-0.324-11.2-0.324H15.993s-6.717,0-11.2.324A4.577,4.577,0,0,0,1.592,6.426,6.921,6.921,0,0,0,.32,9.6,48.4,48.4,0,0,0,0,14.781v2.428a48.4,48.4,0,0,0,.32,5.179,6.921,6.921,0,0,0,1.272,3.176A5.426,5.426,0,0,0,5.12,26.932C7.68,27.177,16,27.253,16,27.253s6.724-.01,11.2-0.334a4.577,4.577,0,0,0,3.206-1.355,6.923,6.923,0,0,0,1.272-3.176A48.46,48.46,0,0,0,32,17.209V14.781A48.46,48.46,0,0,0,31.68,9.6ZM12.7,20.151l0-8.991,8.647,4.511Z" transform="translate(0 -4.747)" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialBehance}}
                <a href="{{@config.custom.socialBehance}}" title="Behance" aria-label="Behance">
                    <svg class="u-icon" viewBox="0 0 50 50" style="height: 1.5rem; width: 1.5rem;">
                        <path d="M388.432,119.12H280.659V92.35h107.782v26.77H388.432z M208.912,228.895
		c6.954,10.771,10.429,23.849,10.429,39.203c0,15.878-3.918,30.122-11.889,42.704c-5.071,8.326-11.367,15.359-18.932,21.021
		c-8.52,6.548-18.607,11.038-30.203,13.437c-11.633,2.403-24.224,3.617-37.787,3.617H0V81.247h129.25
		c32.579,0.53,55.676,9.969,69.315,28.506c8.184,11.369,12.239,25.011,12.239,40.868c0,16.362-4.104,29.454-12.368,39.401
		c-4.597,5.577-11.388,10.65-20.378,15.229C191.675,210.236,202.007,218.086,208.912,228.895z M61.722,186.76h56.632
		c11.638,0,21.046-2.212,28.292-6.634c7.241-4.415,10.854-12.263,10.854-23.531c0-12.449-4.784-20.712-14.375-24.689
		c-8.244-2.763-18.792-4.186-31.591-4.186H61.722V186.76z M162.953,264.275c0-13.902-5.682-23.513-17.023-28.67
		c-6.342-2.931-15.29-4.429-26.763-4.536H61.722v71.322h56.556c11.619,0,20.612-1.521,27.102-4.694
		C157.084,291.863,162.953,280.76,162.953,264.275z M428.419,220.736c1.302,8.756,1.891,21.46,1.652,38.065H290.493
		c0.77,19.266,7.421,32.739,20.035,40.449c7.607,4.835,16.83,7.196,27.63,7.196c11.388,0,20.67-2.879,27.815-8.797
		c3.893-3.137,7.327-7.565,10.296-13.152h51.16c-1.34,11.379-7.5,22.92-18.57,34.648c-17.151,18.641-41.205,27.988-72.097,27.988
		c-25.52,0-48.011-7.883-67.533-23.592C249.772,307.777,240,282.211,240,246.746c0-33.257,8.773-58.712,26.378-76.43
		c17.67-17.751,40.474-26.586,68.583-26.586c16.661,0,31.68,2.978,45.079,8.965c13.357,5.993,24.396,15.425,33.09,28.388
		C420.998,192.499,426.058,205.699,428.419,220.736z M378.062,225.73c-0.938-13.322-5.386-23.405-13.395-30.296
		c-7.943-6.91-17.866-10.379-29.706-10.379c-12.886,0-22.836,3.708-29.906,10.996c-7.118,7.273-11.547,17.161-13.362,29.68H378.062
		L378.062,225.73z" transform="scale(0.1 0.1)" />
                    </svg>
                </a>
            {{/if}}
            {{#if @config.custom.socialPatreon}}
                <a href="{{@config.custom.socialPatreon}}" title="Patreon" aria-label="Patreon">
                    <svg class="u-icon" viewBox="0 0 32 32">
                        <path d="M127.996927,0.00236400943 C57.3035887,0.00236400943 0,57.3059527 0,127.999291 L0,255.934753 L29.7127618,255.934753 L29.7127618,127.999291 C29.7127618,73.7216342 73.7187974,29.7132346 127.998818,29.7132346 C182.278839,29.7132346 226.284874,73.7192702 226.284874,127.999291 C226.284874,180.749797 184.71566,223.784225 132.5519,226.162419 C115.97783,226.026743 101.847673,223.336907 95.6586961,219.528535 L95.6586961,177.286523 C104.895827,183.334605 115.943788,186.860762 127.809224,186.860762 C160.262819,186.860762 186.569043,160.554065 186.569043,128.100943 C186.569043,95.6473489 160.262346,69.3269407 127.809224,69.3269407 C95.3556301,69.3269407 69.049406,95.6482945 69.049406,128.100943 L69.049406,255.937117 C88.4432665,255.919009 109.044663,255.963689 128.003073,255.937117 C198.696411,255.937117 256,198.690265 256,128.001655 C255.995272,57.3035887 198.686955,0 127.998345,0 L127.996927,0.00236400943 Z" transform="scale(0.12 0.12)" />
                    </svg>
                </a>
            {{/if}}
        </div>
    {{/if}}
    </nav>
{{/unless}}
